# Ignore unrelated dir & files
*.o
advio/
bcast/
debug/
icmpd/
inetd/
intro/
ioctl/
ipopts/
key/
libgai/
libroute/
mcast/
mysdr/
names/
nonblock/
oob/
ping/
route/
rtt/
sctp/
select/
server/
sigio/
sock/
sockopt/
sparc64-unknown-freebsd5.1/
ssntp/
streams/
tcpcliserv/
test/
threads/
traceroute/
udpcksum/
udpcliserv/
unixdomain/


/language.settings.xml
/.project
*.cproject
*.tar.gz
/debug_yanly/
/libunp_PC.a
/Make.defines
